

h1 {
	text-align: center;
	font-family: Lobster;
	padding-right: 22px;
	font-weight: normal;
	font-size: 17px;
	color: #990033;

	text-shadow: 1px 1px 1px #F0F0F0  ;



}



#content {
	margin-top: -22px;
	float: right;
	width: 730px;
	/*padding-top: 5px;*/
	padding-left: 22px;
	font-family: Ubuntu Condensed, Ubuntu-C, Tahoma;
}

#content>p {
	font-size: 17px;
	text-align: center;
}

.container {
	width: 730px;
	height: 600px;
	

}

.products {
	width: 710px;
	height: 380px;
	float: left;
	margin-top: 20px;
	margin-right: 18px;
	overflow: hidden;
	background: #F0F0F0;
	
	-webkit-border-radius:  5px;
		-moz-border-radius: 5px;
		-0-  border-radius: 5px;
	  		 border-radius: 5px;
	  		 text-align: center;

	-webkit-box-shadow: 0 2px 3px rgba(0,0,0,0.15);
	   -moz-box-shadow: 0 2px 3px rgba(0,0,0,0.15);
	    -0-	box-shadow: 0 2px 3px rgba(0,0,0,0.15);
	  		box-shadow: 0 2px 3px rgba(0,0,0,0.15);
	  		 
}


.products>h6 {
font-size: 15px;
font-family: Ubuntu Condensed, Ubuntu-C, Tahoma;
letter-spacing: 0.8px;
font-weight: normal;
margin-top: 9px;
}
.products>p {
	font-size:14px ;
}

.products>ul {
	list-style-type: none;
	text-align: left;
	font-size: 22px;
	padding-top: 12px;
	padding-left: 12px;
	line-height: 32px;
	color: #080808;
}
.products>ul>li>i {
	color: #990033;
	text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.51);
}



.products>ul>li {
	padding-left: 3px;
}

.products>ul>li>word {
	padding-left: 3px;
}
.products>p {
	font-size: 18.5px;
	
}
.products>hr {
	
	width: 90%;
	margin-left: 38px;
	margin-top: 22px;
	margin-bottom: 22px;

}

.products:nth-child(1n) {
	background: rgba(0,0,0,0.04);
}

.products:last-child>article>ul>li>i {
	color: #990033;
	text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.51);
	padding-right: 6px;
}


.products:last-child{
	height: 422px;
	margin-bottom: 22px;
	/*background: rgba(0,0,0,0.04);*/
	background: #F0F0F0;
	text-align: center;
}

.products:last-child>article>ul{
	list-style-type: none;
	padding-top: 42px;
	color: #080808;
}
.products:last-child>article {
	padding-top: 22px;

	font-size: 22px;
	text-align: center;
	color: black;

}

.p-img {
	position: relative;
	width: 708px;
	height: 325px;
	overflow: hidden;
	border: 1px solid #484848 ;

	 -webkit-border-radius:  5px;
		-moz-border-radius: 5px;
		-0-  border-radius: 5px;
	  		 border-radius: 5px;

	-webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.45);
	   -moz-box-shadow: 0 1px 5px rgba(0,0,0,0.45);
	    -0-	box-shadow: 0 1px 5px rgba(0,0,0,0.45);
	  		box-shadow: 0 1px 5px rgba(0,0,0,0.45);
	
}
.sale {
	position: absolute;
	top:44px;
	left: 12px;
	z-index:3;
	/*width: 45px;
	height: 45px;*/
	line-height: 42px;
	text-align: left;
	font-weight: bold;
	font-size: 17px;
	color: #fff;
	font-style: italic;
	
text-transform: uppercase;
	/*background: rgba(204,51,51,.9);


	 -webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		-0-  border-radius: 50%;
	  		 border-radius: 50%;*/
}


.general {
	
	
	
	
	
	
	padding-right: 22px;
	margin-bottom: 22px;

	
}
.general>h2 {
	
	
	font-size: 18px;
}
.general>p {
	font-size: 15px;
}


.my_line1 {
	padding-right: 6px;
	padding-left: 6px;
	opacity: 0.8;
}
.my_line0 {
	margin-bottom: 8px;
padding-right: 22px;
padding-left: 22px;
opacity: 0.0;
}

.my_line {
margin-bottom: 20px;
padding-right: 22px;

}
.my_line>p {
	font-family: Lobster;
	font-size: 26px;
	padding-top: 20px;
	text-align: center;
}
.my_line2>p {
	font-family: Lobster;
	font-size: 18px;

}  

.my_line2 {
	width: 200px;
	line-height: 102px;

}

	

.features1 {
	width: 240px;
	float: left;
	margin-top: 3px;
}

.media img {

	width: 102px;
	height: 102px;
	overflow: hidden;

	border-radius: 5px;


	-webkit-box-shadow: 0 2px 3px rgba(0,0,0,0.15);
	   -moz-box-shadow: 0 2px 3px rgba(0,0,0,0.15);
	    -0-	box-shadow: 0 2px 3px rgba(0,0,0,0.15);
	  		box-shadow: 0 2px 3px rgba(0,0,0,0.15)

}

.media-body {
	font-size: 14px;	
	text-align: center;
	margin-right: 12px;
}


.media {
	font-size: 12px;
}




.tst_comment {
	width: 340px;
	/*margin-top: 38px;*/
	float: left;
	margin-bottom: 42px;
	
	
}

blockquote {
	padding-left: 12px;
	/*margin: 0px 0px 20px;*/
	border-left: 5px solid #EEE;
	font-size: 15.5px;
}
small {
	display: block;
	font-size: 90%;
	line-height: 1.42857;
	color:#777;
}
.well-lg {
	width: 700px;
	height: 200px;
	float: left;
	margin-top: 36px;
	border-radius: 6px;
	background-color: #F5f5f5;
	border:1px solid #E3E3E3;
	box-shadow: 0px 1px 1px rgba (0,0,0, 0.05) inset;
	font-size: 15px;
	margin-bottom: 42px;
}

.text-center {
	padding-top: 38px;
	text-align: center;
}
.btn-primary {
	color:#fff;
	background-color: #990033;
	border-color: #660033;
}
.but {
	margin-top: 22px;
	float: right;
	padding-right: 24px;
	font-size: 15px;
}

.btn {
	display:inline-block;
	padding: 6px 12px;
	margin-bottom: 0px;
	font-weight: normal;
	line-height: 1.42857;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor:pointer;
	-moz-user-select:none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
}


.clr {
	clear: both;
	
}
hr {
	color: #F0F0F0; 
	opacity: 0.3;
}
